**ANÁLISE DE SALES - PREPARAÇÃO, CATEGORIZAÇÃO E LIMPEZA DO DATAFRAME BASE**

Repositório da Base Bruta do Kaggle: https://www.kaggle.com/datasets/vincentcornlius/sales-orders?resource=download

Este arquivo foi reservado para limpeza do dataframe de sales_data e preparação para análises posteriores dos dados

In [2]:
import pandas as pd

In [3]:

sales_df = pd.read_csv(r'C:\Users\luiza\Downloads\sales_kaggle\sales_data.csv')
sales_df.head()

,Order Date,Order ID,Product,Product_ean,catégorie,Purchase Address,Quantity Ordered,Price Each,Cost price,turnover,margin
0,2019-01-22 21:25:00,141234,iPhone,5.638009e+12,Vêtements,"944 Walnut St, Boston, MA 02215",1,700.00,231.0000,700.00,469.0000
1,2019-01-28 14:15:00,141235,Lightning Charging Cable,5.563320e+12,Alimentation,"185 Maple St, Portland, OR 97035",1,14.95,7.4750,14.95,7.4750
2,2019-01-17 13:33:00,141236,Wired Headphones,2.113973e+12,Vêtements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.9950,23.98,11.9900
3,2019-01-05 20:33:00,141237,27in FHD Monitor,3.069157e+12,Sports,"738 10th St, Los Angeles, CA 90001",1,149.99,97.4935,149.99,52.4965
4,2019-01-25 11:59:00,141238,Wired Headphones,9.692681e+12,Électronique,"387 10th St, Austin, TX 73301",1,11.99,5.9950,11.99,5.9950

In [4]:
sales_tamanho_range = sales_df.size
sales_tamanho_range

2045450

In [5]:
contagem_de_nulos = sales_df.isnull().sum()
contagem_de_nulos

Order Date          0
Order ID            0
Product             0
Product_ean         0
catégorie           0
Purchase Address    0
Quantity Ordered    0
Price Each          0
Cost price          0
turnover            0
margin              0
dtype: int64

In [6]:
duplicatas_sales = sales_df.duplicated()
duplicatas_sales

0         False
1         False
2         False
3         False
4         False
          ...
185945    False
185946    False
185947    False
185948    False
185949    False
Length: 185950, dtype: bool

In [7]:
colunas_sales_df = sales_df.columns
colunas_sales_df

Index(['Order Date', 'Order ID', 'Product', 'Product_ean', 'catégorie',
       'Purchase Address', 'Quantity Ordered', 'Price Each', 'Cost price',
       'turnover', 'margin'],
      dtype='object')

In [8]:
novas_colunas = {'Order Date': 'Data',
                      'Order ID': 'ID', 
                       'Product' :'Produto',
                        'Product_ean':'Codigo(produto)',
                        'catégorie':'Categoria',
                        'Purchase Address':'Recebido(local)',
                        'Quantity Ordered':'Quantidade(pedidos)',
                        'Price Each':'Total(valor_produto)',
                        'Cost price':'Valor(produto)',
                        'turnover':'Turnover(ativos)',
                        'margin':'Margem(lucro)'

                        }

sales_df.rename(columns= novas_colunas, inplace=True)
columns_sales_df = sales_df.columns
columns_sales_df

Index(['Data', 'ID', 'Produto', 'Codigo(produto)', 'Categoria',
       'Recebido(local)', 'Quantidade(pedidos)', 'Total(valor_produto)',
       'Valor(produto)', 'Turnover(ativos)', 'Margem(lucro)'],
      dtype='object')

In [9]:
sales_info = sales_df.info()
sales_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Data                  185950 non-null  object
 1   ID                    185950 non-null  int64
 2   Produto               185950 non-null  object
 3   Codigo(produto)       185950 non-null  float64
 4   Categoria             185950 non-null  object
 5   Recebido(local)       185950 non-null  object
 6   Quantidade(pedidos)   185950 non-null  int64
 7   Total(valor_produto)  185950 non-null  float64
 8   Valor(produto)        185950 non-null  float64
 9   Turnover(ativos)      185950 non-null  float64
 10  Margem(lucro)         185950 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 15.6+ MB

In [10]:
from datetime import datetime

sales_df['Data'].dtype
sales_df['Data'] = pd.to_datetime(sales_df['Data'])
sales_df['Data'] = sales_df['Data'].dt.date

In [11]:
sales_df['Data'] = pd.to_datetime(sales_df['Data'])
sales_df['Mês'] = sales_df['Data'].dt.month
sales_df.head

<bound method NDFrame.head of              Data      ID                     Produto  Codigo(produto)  \
0      2019-01-22  141234                      iPhone     5.638009e+12
1      2019-01-28  141235    Lightning Charging Cable     5.563320e+12
2      2019-01-17  141236            Wired Headphones     2.113973e+12
3      2019-01-05  141237            27in FHD Monitor     3.069157e+12
4      2019-01-25  141238            Wired Headphones     9.692681e+12
...           ...     ...                         ...              ...
185945 2019-12-11  319666    Lightning Charging Cable     6.545974e+12
185946 2019-12-01  319667       AA Batteries (4-pack)     5.352480e+12
185947 2019-12-09  319668             Vareebadd Phone     2.674213e+12
185948 2019-12-03  319669            Wired Headphones     5.216304e+12
185949 2019-12-21  319670  Bose SoundSport Headphones     8.081038e+12

           Categoria                         Recebido(local)  \
0          Vêtements         944 Walnut St, Boston, MA 02215
1       Alimentation        185 Maple St, Portland, OR 97035
2          Vêtements   538 Adams St, San Francisco, CA 94016
3             Sports      738 10th St, Los Angeles, CA 90001
4       Électronique           387 10th St, Austin, TX 73301
...              ...                                     ...
185945  Électronique  14 Madison St, San Francisco, CA 94016
185946  Électronique    549 Willow St, Los Angeles, CA 90001
185947  Alimentation        273 Wilson St, Seattle, WA 98101
185948  Alimentation          778 River St, Dallas, TX 75001
185949  Électronique  747 Chestnut St, Los Angeles, CA 90001

        Quantidade(pedidos)  Total(valor_produto)  Valor(produto)  \
0                         1                700.00        231.0000
1                         1                 14.95          7.4750
2                         2                 11.99          5.9950
3                         1                149.99         97.4935
4                         1                 11.99          5.9950
...                     ...                   ...             ...
185945                    1                 14.95          7.4750
185946                    2                  3.84          1.9200
185947                    1                400.00        132.0000
185948                    1                 11.99          5.9950
185949                    1                 99.99         49.9950

        Turnover(ativos)  Margem(lucro)  Mês
0                 700.00       469.0000    1
1                  14.95         7.4750    1
2                  23.98        11.9900    1
3                 149.99        52.4965    1
4                  11.99         5.9950    1
...                  ...            ...  ...
185945             14.95         7.4750   12
185946              7.68         3.8400   12
185947            400.00       268.0000   12
185948             11.99         5.9950   12
185949             99.99        49.9950   12

[185950 rows x 12 columns]>

In [12]:
sales_df['Data'] = pd.to_datetime(sales_df['Data'])
sales_df['Semana'] = sales_df['Data'].dt.week
sales_df.head

C:\Users\luiza\AppData\Local\Temp\ipykernel_15996\1981763718.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  sales_df['Semana'] = sales_df['Data'].dt.week

<bound method NDFrame.head of              Data      ID                     Produto  Codigo(produto)  \
0      2019-01-22  141234                      iPhone     5.638009e+12
1      2019-01-28  141235    Lightning Charging Cable     5.563320e+12
2      2019-01-17  141236            Wired Headphones     2.113973e+12
3      2019-01-05  141237            27in FHD Monitor     3.069157e+12
4      2019-01-25  141238            Wired Headphones     9.692681e+12
...           ...     ...                         ...              ...
185945 2019-12-11  319666    Lightning Charging Cable     6.545974e+12
185946 2019-12-01  319667       AA Batteries (4-pack)     5.352480e+12
185947 2019-12-09  319668             Vareebadd Phone     2.674213e+12
185948 2019-12-03  319669            Wired Headphones     5.216304e+12
185949 2019-12-21  319670  Bose SoundSport Headphones     8.081038e+12

           Categoria                         Recebido(local)  \
0          Vêtements         944 Walnut St, Boston, MA 02215
1       Alimentation        185 Maple St, Portland, OR 97035
2          Vêtements   538 Adams St, San Francisco, CA 94016
3             Sports      738 10th St, Los Angeles, CA 90001
4       Électronique           387 10th St, Austin, TX 73301
...              ...                                     ...
185945  Électronique  14 Madison St, San Francisco, CA 94016
185946  Électronique    549 Willow St, Los Angeles, CA 90001
185947  Alimentation        273 Wilson St, Seattle, WA 98101
185948  Alimentation          778 River St, Dallas, TX 75001
185949  Électronique  747 Chestnut St, Los Angeles, CA 90001

        Quantidade(pedidos)  Total(valor_produto)  Valor(produto)  \
0                         1                700.00        231.0000
1                         1                 14.95          7.4750
2                         2                 11.99          5.9950
3                         1                149.99         97.4935
4                         1                 11.99          5.9950
...                     ...                   ...             ...
185945                    1                 14.95          7.4750
185946                    2                  3.84          1.9200
185947                    1                400.00        132.0000
185948                    1                 11.99          5.9950
185949                    1                 99.99         49.9950

        Turnover(ativos)  Margem(lucro)  Mês  Semana
0                 700.00       469.0000    1       4
1                  14.95         7.4750    1       5
2                  23.98        11.9900    1       3
3                 149.99        52.4965    1       1
4                  11.99         5.9950    1       4
...                  ...            ...  ...     ...
185945             14.95         7.4750   12      50
185946              7.68         3.8400   12      48
185947            400.00       268.0000   12      50
185948             11.99         5.9950   12      49
185949             99.99        49.9950   12      51

[185950 rows x 13 columns]>

In [13]:
colunas_selecionadas = ['ID', 'Produto', 'Categoria', 'Recebido(local)', 'Quantidade(pedidos)', 'Total(valor_produto)', 'Valor(produto)', 'Turnover(ativos)', 'Data', 'Mês', 'Semana']
sales_df = sales_df[colunas_selecionadas]
sales_df = sales_df.sort_values(by='Data', ascending=True)
sales_df.head

<bound method NDFrame.head of             ID                   Produto     Categoria  \
7043    147963             Flatscreen TV  Alimentation
424     141647              20in Monitor  Électronique
423     141646  Lightning Charging Cable  Alimentation
3945    144994           ThinkPad Laptop  Alimentation
420     141644    AAA Batteries (4-pack)     Vêtements
...        ...                       ...           ...
164578  299125      USB-C Charging Cable     Vêtements
177326  311386  Apple Airpods Headphones  Électronique
172424  306655           ThinkPad Laptop        Sports
172586  306809        Macbook Pro Laptop        Sports
180627  314552    AAA Batteries (4-pack)  Alimentation

                                Recebido(local)  Quantidade(pedidos)  \
7043            655 Meadow St, Austin, TX 73301                    1
424            434 Sunset St, Atlanta, GA 30301                    1
423              678 Adams St, Dallas, TX 75001                    1
3945       903 Willow St, Los Angeles, CA 90001                    1
420              454 Main St, Seattle, WA 98101                    1
...                                         ...                  ...
164578  754 Hickory St, New York City, NY 10001                    1
177326     730 Pine St, San Francisco, CA 94016                    1
172424    431 Hickory St, Los Angeles, CA 90001                    1
172586            326 14th St, Dallas, TX 75001                    1
180627      541 4th St, San Francisco, CA 94016                    1

        Total(valor_produto)  Valor(produto)  Turnover(ativos)       Data  \
7043                  300.00         99.0000            300.00 2019-01-01
424                   109.99         71.4935            109.99 2019-01-01
423                    14.95          7.4750             14.95 2019-01-01
3945                  999.99        329.9967            999.99 2019-01-01
420                     2.99          1.4950              2.99 2019-01-01
...                      ...             ...               ...        ...
164578                 11.95          5.9750             11.95 2020-01-01
177326                150.00         97.5000            150.00 2020-01-01
172424                999.99        329.9967            999.99 2020-01-01
172586               1700.00        561.0000           1700.00 2020-01-01
180627                  2.99          1.4950              2.99 2020-01-01

        Mês  Semana
7043      1       1
424       1       1
423       1       1
3945      1       1
420       1       1
...     ...     ...
164578    1       1
177326    1       1
172424    1       1
172586    1       1
180627    1       1

[185950 rows x 11 columns]>

In [14]:
import calendar
meses = {1: 'Janeiro', 2: 'Fevereiro',
          3: 'Março', 4: 'Abril',
            5: 'Maio', 6: 'Junho',
              7: 'Julho', 8:'Agosto',
                9:'Setembro', 10:'Outubro',
                  11:'Novembro',12:'Dezembro'}

sales_df['Nome do Mês'] = sales_df['Mês'].map(meses)

In [15]:
sales_df['Data'] = pd.to_datetime(sales_df['Data'])
sales_df['Dia da Semana'] = sales_df['Data'].dt.day_name()

renomeando_nomes_da_semana = {'Sunday':'Domingo', 'Monday':'Segunda-feira',
                              'Tuesday':'Terça-feira','Wednesday':'Quarta-feira','Thursday':'Quinta-feira',
                              'Friday':'Sexta-feira','Saturday':'Sábado'}
sales_df['Dia da Semana Traduzido'] = sales_df['Dia da Semana'].map(renomeando_nomes_da_semana)
sales_df.head

<bound method NDFrame.head of             ID                   Produto     Categoria  \
7043    147963             Flatscreen TV  Alimentation
424     141647              20in Monitor  Électronique
423     141646  Lightning Charging Cable  Alimentation
3945    144994           ThinkPad Laptop  Alimentation
420     141644    AAA Batteries (4-pack)     Vêtements
...        ...                       ...           ...
164578  299125      USB-C Charging Cable     Vêtements
177326  311386  Apple Airpods Headphones  Électronique
172424  306655           ThinkPad Laptop        Sports
172586  306809        Macbook Pro Laptop        Sports
180627  314552    AAA Batteries (4-pack)  Alimentation

                                Recebido(local)  Quantidade(pedidos)  \
7043            655 Meadow St, Austin, TX 73301                    1
424            434 Sunset St, Atlanta, GA 30301                    1
423              678 Adams St, Dallas, TX 75001                    1
3945       903 Willow St, Los Angeles, CA 90001                    1
420              454 Main St, Seattle, WA 98101                    1
...                                         ...                  ...
164578  754 Hickory St, New York City, NY 10001                    1
177326     730 Pine St, San Francisco, CA 94016                    1
172424    431 Hickory St, Los Angeles, CA 90001                    1
172586            326 14th St, Dallas, TX 75001                    1
180627      541 4th St, San Francisco, CA 94016                    1

        Total(valor_produto)  Valor(produto)  Turnover(ativos)       Data  \
7043                  300.00         99.0000            300.00 2019-01-01
424                   109.99         71.4935            109.99 2019-01-01
423                    14.95          7.4750             14.95 2019-01-01
3945                  999.99        329.9967            999.99 2019-01-01
420                     2.99          1.4950              2.99 2019-01-01
...                      ...             ...               ...        ...
164578                 11.95          5.9750             11.95 2020-01-01
177326                150.00         97.5000            150.00 2020-01-01
172424                999.99        329.9967            999.99 2020-01-01
172586               1700.00        561.0000           1700.00 2020-01-01
180627                  2.99          1.4950              2.99 2020-01-01

        Mês  Semana Nome do Mês Dia da Semana Dia da Semana Traduzido
7043      1       1     Janeiro       Tuesday             Terça-feira
424       1       1     Janeiro       Tuesday             Terça-feira
423       1       1     Janeiro       Tuesday             Terça-feira
3945      1       1     Janeiro       Tuesday             Terça-feira
420       1       1     Janeiro       Tuesday             Terça-feira
...     ...     ...         ...           ...                     ...
164578    1       1     Janeiro     Wednesday            Quarta-feira
177326    1       1     Janeiro     Wednesday            Quarta-feira
172424    1       1     Janeiro     Wednesday            Quarta-feira
172586    1       1     Janeiro     Wednesday            Quarta-feira
180627    1       1     Janeiro     Wednesday            Quarta-feira

[185950 rows x 14 columns]>

In [16]:
def extrair_cidade(endereco):
    partes = endereco.split(',')
    if len(partes) >= 2:
        return partes[1].strip()
    else:
        return None


sales_df['Recebido(cidade)'] = sales_df['Recebido(local)'].apply(extrair_cidade)

In [17]:
colunas_selecionadas = ['ID', 'Produto', 'Categoria', 'Recebido(local)','Recebido(cidade)',
                         'Quantidade(pedidos)', 'Total(valor_produto)', 'Valor(produto)', 'Turnover(ativos)',
                           'Data', 'Mês', 'Semana','Nome do Mês','Dia da Semana','Dia da Semana Traduzido']
sales_df = sales_df[colunas_selecionadas]
sales_df.columns

Index(['ID', 'Produto', 'Categoria', 'Recebido(local)', 'Recebido(cidade)',
       'Quantidade(pedidos)', 'Total(valor_produto)', 'Valor(produto)',
       'Turnover(ativos)', 'Data', 'Mês', 'Semana', 'Nome do Mês',
       'Dia da Semana', 'Dia da Semana Traduzido'],
      dtype='object')

In [18]:
sales_df['Data'] = pd.to_datetime(sales_df['Data'])
sales_df['Year'] = sales_df['Data'].dt.year


sales_df['Mês/Year'] = sales_df['Nome do Mês'] + ' - ' + sales_df['Year'].astype(str)


sales_df

,ID,Produto,Categoria,Recebido(local),Recebido(cidade),Quantidade(pedidos),Total(valor_produto),Valor(produto),Turnover(ativos),Data,Mês,Semana,Nome do Mês,Dia da Semana,Dia da Semana Traduzido,Year,Mês/Year
7043,147963,Flatscreen TV,Alimentation,"655 Meadow St, Austin, TX 73301",Austin,1,300.00,99.0000,300.00,2019-01-01,1,1,Janeiro,Tuesday,Terça-feira,2019,Janeiro - 2019
424,141647,20in Monitor,Électronique,"434 Sunset St, Atlanta, GA 30301",Atlanta,1,109.99,71.4935,109.99,2019-01-01,1,1,Janeiro,Tuesday,Terça-feira,2019,Janeiro - 2019
423,141646,Lightning Charging Cable,Alimentation,"678 Adams St, Dallas, TX 75001",Dallas,1,14.95,7.4750,14.95,2019-01-01,1,1,Janeiro,Tuesday,Terça-feira,2019,Janeiro - 2019
3945,144994,ThinkPad Laptop,Alimentation,"903 Willow St, Los Angeles, CA 90001",Los Angeles,1,999.99,329.9967,999.99,2019-01-01,1,1,Janeiro,Tuesday,Terça-feira,2019,Janeiro - 2019
420,141644,AAA Batteries (4-pack),Vêtements,"454 Main St, Seattle, WA 98101",Seattle,1,2.99,1.4950,2.99,2019-01-01,1,1,Janeiro,Tuesday,Terça-feira,2019,Janeiro - 2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164578,299125,USB-C Charging Cable,Vêtements,"754 Hickory St, New York City, NY 10001",New York City,1,11.95,5.9750,11.95,2020-01-01,1,1,Janeiro,Wednesday,Quarta-feira,2020,Janeiro - 2020
177326,311386,Apple Airpods Headphones,Électronique,"730 Pine St, San Francisco, CA 94016",San Francisco,1,150.00,97.5000,150.00,2020-01-01,1,1,Janeiro,Wednesday,Quarta-feira,2020,Janeiro - 2020
172424,306655,ThinkPad Laptop,Sports,"431 Hickory St, Los Angeles, CA 90001",Los Angeles,1,999.99,329.9967,999.99,2020-01-01,1,1,Janeiro,Wednesday,Quarta-feira,2020,Janeiro - 2020
172586,306809,Macbook Pro Laptop,Sports,"326 14th St, Dallas, TX 75001",Dallas,1,1700.00,561.0000,1700.00,2020-01-01,1,1,Janeiro,Wednesday,Quarta-feira,2020,Janeiro - 2020
180627,314552,AAA Batteries (4-pack),Alimentation,"541 4th St, San Francisco, CA 94016",San Francisco,1,2.99,1.4950,2.99,2020-01-01,1,1,Janeiro,Wednesday,Quarta-feira,2020,Janeiro - 2020

In [19]:
import calendar
Quarter_1 = {1: 'Quarter_1', 2: 'Quarter_1',
          3: 'Quarter_1'}

sales_df['Quarters'] = sales_df['Mês'].map(Quarter_1)

Quarter_2 = {4:'Quarter_2', 5:"Quarter_2", 6:"Quarter_3"}
sales_df['Quaters'] = sales_df['Mês'].map(Quarter_2)

Quarter_3 = {7:'Quarter_3', 8:'Quarter_3', 9:'Quarter_3'}
sales_df['Quaters'] = sales_df['Mês'].map(Quarter_3)

Quarter_4 = {10:'Quarter_4', 11:'Quarter_4', 12:'Quarter_4'}
sales_df['Quaters'] = sales_df['Mês'].map(Quarter_4)

sales_df.drop("Quaters", axis=1, inplace=True)

print(sales_df.head())

          ID                   Produto     Categoria  \
7043  147963             Flatscreen TV  Alimentation
424   141647              20in Monitor  Électronique
423   141646  Lightning Charging Cable  Alimentation
3945  144994           ThinkPad Laptop  Alimentation
420   141644    AAA Batteries (4-pack)     Vêtements

                           Recebido(local) Recebido(cidade)  \
7043       655 Meadow St, Austin, TX 73301           Austin
424       434 Sunset St, Atlanta, GA 30301          Atlanta
423         678 Adams St, Dallas, TX 75001           Dallas
3945  903 Willow St, Los Angeles, CA 90001      Los Angeles
420         454 Main St, Seattle, WA 98101          Seattle

      Quantidade(pedidos)  Total(valor_produto)  Valor(produto)  \
7043                    1                300.00         99.0000
424                     1                109.99         71.4935
423                     1                 14.95          7.4750
3945                    1                999.99        329.9967
420                     1                  2.99          1.4950

      Turnover(ativos)       Data  Mês  Semana Nome do Mês Dia da Semana  \
7043            300.00 2019-01-01    1       1     Janeiro       Tuesday
424             109.99 2019-01-01    1       1     Janeiro       Tuesday
423              14.95 2019-01-01    1       1     Janeiro       Tuesday
3945            999.99 2019-01-01    1       1     Janeiro       Tuesday
420               2.99 2019-01-01    1       1     Janeiro       Tuesday

     Dia da Semana Traduzido  Year        Mês/Year   Quarters
7043             Terça-feira  2019  Janeiro - 2019  Quarter_1
424              Terça-feira  2019  Janeiro - 2019  Quarter_1
423              Terça-feira  2019  Janeiro - 2019  Quarter_1
3945             Terça-feira  2019  Janeiro - 2019  Quarter_1
420              Terça-feira  2019  Janeiro - 2019  Quarter_1

In [20]:
sales_df.to_csv('sales_df_tratado.csv', index=False)

**Conclusões da preparação e limpeza:**
- O arquivo não possuia duplicata, não possuia valores nulos, suas categorias estavam classificadas de maneira corrreta.
- Foi feita a preparação de datas e dias para análises posteriores visando a orientação para analisar temporalmente os dados. 
- Foi feita a preparação dos endereços separados em cidades para agrupamento posterior e analisar a distribuição do segmento.